h1 {
	font-family: "Bradley Hand";
	font-size: 70px;
	text-align: center;
	color: #FFFFFF;
}

table {
	text-align: center;
	background-color: #FFFFFF;
	font-family: Optima;
	overflow: hidden;
	opacity: 0.75;
}

/* Style the links inside the navigation bar */
table a {
	float: left;
	color: #000000;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
table a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
table a.active {
	background-color: #af8387;
	color: white;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 20px;
}


#pager {
	text-align: center;
	font-size: 90%;
	color: #000000;
}


h2 {
	font-family: Optima;
	font-size: 20px;
	text-align: center;
	color: #000000;
	background-color: #FFFFFF;
	display: block;
	opacity: 0.9;
}

section {
	margin-left: auto;
	margin-right: auto;
	max-width: 550px;
	height: 500px;
	font-family: Optima;
	font-style: italic;
	text-align: center;
	background-color: #FFFFFF;
	display: block;

}

img{
	margin:10px;
	width:250px;
	height:250px;
}

	.submit{
	font-size: 16px;
	background: linear-gradient(#f5bbe4 5%, #f5bbe4 100%);
	border: 1px solid #22171f;
	color: rgb(0, 0, 0);
	font-weight: bold;
	cursor: pointer;
	width: 100px;
	border-radius: 5px;
	outline: none;
	}

	/*Color change when hover over upload button*/
	.submit:hover{
	background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
	}

	/*File upload box*/
	#file {
	color: rgb(0, 0, 0);
	border: 5px solid #f5bbe4;
	background-color:#f5bbe4;
	border-radius: 5px;
	box-shadow: 0 0 15px #626F7E;
	}


	footer{
		font-style: italic;
		font-size: 16px;
		text-align: center;
		background-color: #FFFFFF;
		color: #000000;
	}
	
/*Image slideshow*/
#slider img {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 40px 0 60px;
}
